h1 {
    color: brown;
}

/* * {
    border: solid;
} */
.header{
    background-color:#acc6f6;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    display: flex;
    justify-content: center;
}